<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" action="~/Pages/Name.cshtml">
        <label for="name"> Name </label>
        <input name="name" typeof="text" />
        <input type="submit" value="Send" />
    </form>
</body>
</html>
